.portrait {
  background-image: url("../../img/bgimage.jpg");
  height: 900px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  position: relative;
}
.overlay {
  width: 100%;
  height: 100%;
  background: rgba(3, 23, 29, 0.8);
}
.portrait__container {
  width: 80%;
  border: solid 1px red;
}
.portrait__title {
  position: absolute;
  top: 100px;
  left: 50%;
  font-size: 4rem;
  transform: translateX(-50%);

  width: 690px;
}
.portrait__line {
  height: 3px;
  width: 285px;
  background: #ebe0a6;
  position: absolute;
}
.portrait__line--top {
  left: 0;
  top: 7px;
}
h1 {
  margin: 10px 0;
}
.portrait__line--bottom {
  left: 165px;
  top: 85px;
}
.portrait__subtitle {
  font-size: 5rem;
  font-family: "Gelasio", serif;
  text-align: right;
  margin: 15px;
  background: linear-gradient(180deg, #ebe0a6 45.31%, #e69827 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.portrait__profile {
  display: flex;
  position: absolute;
  top: 150px;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 20px;
}
.portrait__img-container {
  width: 370px;
  padding: 10px;
}
.portrait__img {
  width: 100%;
  height: 100%;
  object-position: center;
}
.portrait__desc-container {
  max-width: 700px;
  position: relative;
}

.portrait__description {
  padding: 10px;
}
.portrait__btn {
  font-size: 3rem;
  border: solid 3px #ebe0a6;
  border-radius: 50px;
  padding: 25px;
  font-weight: bold;
  color: #ebe0a6;
  text-decoration: none;
  margin: 20px;
  position: absolute;
  right: 10px;
}
.portrait__btn:hover {
  animation: 1s vaiven 1;
  background: #ebe0a6;
  color: #024b90;
  border: solid 3px #024b90;
}
.portrait__btn::before {
  content: "";
  position: absolute;
  top: 60px;
  left: 85px;
  background: #024b90;
  height: 3px;
  width: 0px;
}
.portrait__btn:hover::before {
  content: "";
  position: absolute;
  top: 60px;
  left: 26px;
  background: #024b90;
  height: 3px;
  width: 123px;
  transition: all 0.3s ease-in;
}
@keyframes vaiven {
  15% {
    transform: rotate(-8deg) translateX(-18%);
  }
  30% {
    transform: rotate(5deg) translateX(13%);
  }
  45% {
    transform: rotate(-3deg) translateX(-10%);
  }
  60% {
    transform: rotate(2deg) translateX(5%);
  }
  60% {
    transform: rotate(-1deg) translateX(-2%);
  }
}

.portrait__icon-cover {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}
.portrait__fulfilled-projects {
  color: #ebe0a6;
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 20px;
}
.portrait__icon {
  font-size: 5rem;
  color: #ebe0a6;
}
.portrait__icon-cover:hover {
  transform: translateX(-50%) translateY(-5%) scale(1.1);
  transition: all 0.3s ease-in-out;
}
.bio {
  width: 90%;
  margin: 50px auto;
}
.bio__container {
  display: flex;
  align-items: center;
}
.bio__text-container {
  padding: 15px;
  width: 60%;
}
.bio__text {
  margin: 20px;
}
.bio__img-container {
  padding: 15px;
}
.bio__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  border-radius: 40px;
}
.education {
  width: 90%;
  margin: 50px auto;
}
.education__cv-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  margin: 50px auto;
}
h3 {
  font-size: 5rem;
}
.education__data {
  width: 700px;
}
.education__current {
  font-size: 5rem;
  color: #c3410d;
  font-weight: bold;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
.education__period {
  font-style: italic;
  margin: 10px auto;
  font-weight: 400;
  font-size: 2.6rem;
}
.education__profesion {
  font-size: 3.4rem;
  font-weight: 500;
  margin: 10px auto;
}
.vertical-line {
  height: 150px;
  width: 3px;
  background: white;
  margin: 30px auto;
}
h4 {
  font-size: 3.5rem;
  font-weight: 500;
  color: #c3410d;
  margin: 50px auto;
  text-align: center;
}
.education__languages {
  display: flex;
  justify-content: space-around;
}
.education__skill {
  text-align: center;
}
.education__icons {
  align-self: center;
}
.education__star {
  font-size: 2.4rem;
  color: #c3410d;
  margin: 5px;
}
.education__technologies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.education__skill--tech {
  width: 300px;
  margin: 40px;
}
@media (max-width: 767px) {
  .portrait {
    background-image: url(../../img/bgimage.jpg);
    height: 1050px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 475%;
    position: relative;
  }
  .portrait__title {
    position: absolute;
    top: 80px;
    left: 50%;
    font-size: 4rem;
    width: 453px;
    transform: translateX(-50%) scale(0.6);
  }
  .portrait__subtitle {
    font-size: 5rem;
    font-family: "Gelasio", serif;
    text-align: right;
    margin: 15px;
    background: linear-gradient(180deg, #ebe0a6 45.31%, #e69827 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: none;
  }
  .portrait__profile {
    display: flex;
    position: absolute;
    top: 150px;
    align-items: flex-start;
    width: 100%;
    flex-direction: column;
    padding: 0;
    align-items: center;
    margin: 0;
  }
  .portrait__img-container {
    max-width: 220px;
    padding: 10px;
  }
  .portrait__btn {
    font-size: 2.5rem;
    border: solid 3px #ebe0a6;
    border-radius: 50px;
    padding: 15px 25px;
    font-weight: bold;
    color: #ebe0a6;
    text-decoration: none;
    margin: 20px auto;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
  }
  .portrait__icon-cover {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    text-align: center;
  }
  .portrait__fulfilled-projects {
    color: #ebe0a6;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .bio__container {
    display: flex;
    margin: 30px 0;
    flex-direction: column;
  }
  .bio__text-container {
    margin: 30px;
    width: 95%;
  }
}
