.portrait {
  background-image: url("../../img/bgimage.jpg");
  height: 900px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  position: relative;
}
.overlay {
  width: 100%;
  height: 100%;
  background: rgba(3, 23, 29, 0.8);
}
.portrait__title {
  position: absolute;
  top: 100px;
  left: 50%;
  font-size: 4rem;
  transform: translateX(-50%);

  width: 690px;
}
.portrait__line {
  height: 3px;
  width: 285px;
  background: #ebe0a6;
  position: absolute;
}
.portrait__line--top {
  left: 0;
  top: 7px;
}
h1 {
  margin: 10px 0;
}
.portrait__line--bottom {
  left: 165px;
  top: 85px;
}
.portrait__subtitle {
  font-size: 5rem;
  font-family: "Gelasio", serif;
  text-align: right;
  margin: 15px;
  background: linear-gradient(180deg, #ebe0a6 45.31%, #e69827 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.portrait__profile {
  position: absolute;
  top: 40%;

  width: 80%;
  margin: 20px;
}

.portrait__desc-container {
  max-width: 700px;
  position: relative;
  margin: auto;
}
.portrait__data {
  color: white;
  margin: 20px;
}
.portrait__data-icon {
  font-size: 3rem;
  margin-right: 20px;
  color: #ebe0a6;
}
.portrait__text {
  font-size: 2rem;
}
.portrait__description {
  padding: 10px;
}
.portrait__btn {
  font-size: 3rem;
  border: solid 3px #ebe0a6;
  border-radius: 50px;
  padding: 25px;
  font-weight: bold;
  color: #ebe0a6;
  text-decoration: none;
  margin: 20px;
  position: absolute;
  right: 10px;
}

.portrait__icon-cover {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portrait__fulfilled-projects {
  color: #ebe0a6;
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 20px;
}
.portrait__icon {
  font-size: 5rem;
  color: #ebe0a6;
}
.portrait__icon-cover:hover {
  transform: translateX(-50%) translateY(-5%) scale(1.1);
  transition: all 0.3s ease-in-out;
}
.form {
  width: 80%;
  margin: auto;
}
.form__description {
  margin: 30px auto;
}
.form__container {
  width: 80%;
  margin: auto;
}
.form__data {
  margin: 5px 0;
  display: flex;
  flex-direction: column;
}
.form__label {
  font-size: 2.4rem;
  color: white;
  padding: 10px;
}
.form__input {
  max-width: 400px;
  height: 40px;
  border-radius: 50px;
  border: none;
  margin: 10px 0;
  padding: 10px;
  font-size: 2.4rem;
}
.form__textarea {
  border-radius: 20px;
  height: 200px;
  padding: 15px;
  font-size: 2.4rem;
}
.form__submit {
  width: 200px;
  height: 60px;
  font-size: 3rem;
  background: #e44f26;
  border: none;
  border-radius: 30px;
  color: white;
  font-weight: 600;
  margin: 30px 5px;
  position: relative;
}

.form__submit:hover {
  border: solid 3px white;
  transform: scale(1.1);
  text-decoration: underline;
  transition: all 0.2s ease-in-out;
}
.error {
  color: red;
  padding: 10px;
  border: solid 2px red;
  border-radius: 5px;
  font-size: 2rem;
  margin: 5px 0;
  display: none;
}
.show {
  display: block;
}
@media (max-width: 767px) {
  .portrait {
    background-image: url(../../img/bgimage.jpg);
    height: 700px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 475%;
    position: relative;
  }
  .portrait__title {
    position: absolute;
    top: 80px;
    left: 50%;
    font-size: 4rem;
    width: 453px;
    transform: translateX(-50%) scale(0.6);
  }
  .portrait__subtitle {
    font-size: 5rem;
    font-family: "Gelasio", serif;
    text-align: right;
    margin: 15px;
    background: linear-gradient(180deg, #ebe0a6 45.31%, #e69827 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: none;
  }
  .portrait__profile {
    display: flex;
    position: absolute;
    top: 150px;
    flex-direction: column;
    padding: 0;
    align-items: center;
    margin: 0;
  }
  .portrait__img-container {
    max-width: 220px;
    padding: 10px;
  }

  .portrait__icon-cover {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    text-align: center;
  }
  .portrait__fulfilled-projects {
    color: #ebe0a6;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .bio__container {
    display: flex;
    margin: 30px 0;
    flex-direction: column;
  }
  .bio__text-container {
    margin: 30px;
    width: 95%;
  }
  .portrait__profile {
    display: flex;
    position: absolute;
    top: 220px;
    align-items: flex-start;
    width: 100%;
    flex-direction: column;
    padding: 0;
    align-items: center;
    margin: 0;
  }

  .form__container {
    width: 80%;
  }
}
