footer {
  position: relative;
  margin: 20px auto;
}
.footer__line {
  height: 1px;
  background: white;
}
.icons__container--footer {
  position: absolute;
  right: 30px;
  top: 30px;
}
.copyright {
  position: absolute;
  text-align: center;
  width: 95%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
