header {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  z-index: 10;
}
.icons__container {
  padding: 30px;
}
.icons__link {
  text-decoration: none;
}
.icon {
  margin: 10px;
  color: #ebe0a6;
  font-size: 4rem;
}
.menu__icon {
  color: white;
  font-size: 5rem;
  display: none;
}
.menu__checkbox {
  display: none;
}
.nav__list {
  list-style: none;
  margin: 30px;
  padding: 10px;
}
.nav__link {
  text-decoration: none;
  color: rgba(21, 181, 235, 0.7);
  font-size: 2.8rem;
  font-weight: 600;
}
.nav__link:hover {
  color: rgba(21, 181, 235, 1);
}
.nav__link--active {
  color: #ebe0a6;
  position: relative;
}
.nav__link--active:hover {
  color: #ebe0a6;
}
.nav__link--active::before {
  content: "";
  position: absolute;
  background: #ebe0a6;
  height: 3px;
  width: 100%;
  top: 35px;
}
@media (max-width: 1200px) {
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
  header {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .icons__container {
    align-self: center;
  }
  .menu__icon {
    color: white;
    display: block;
    font-size: 4rem;
    text-align: center;
  }
  .menu__checkbox:checked ~ nav {
    display: block;
  }
  nav {
    display: none;
  }
  .nav__container {
    align-self: center;
  }
  .nav__ul {
    border: solid 2px #ebe0a6;
    position: fixed;
    width: 99%;
    right: 0;
    top: 100px;
    display: flex;
    flex-direction: column;
    background: black;
    border-radius: 10px 0 10px 0;
    align-items: center;
    justify-content: space-evenly;
  }
  .nav__link {
    list-style: none;
  }
}
